.section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
}

.foco__container{
    padding: 1.5rem;
    background: var(--light);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    /*cursor: pointer;*/
    border: .1rem solid #fff;
	border-radius: .5rem;
}
.foco{
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgb(0, 0,0,0.3);
    position: relative;
}
.green{
    background-color: #2ecc71;
    box-shadow: 0 0 10px 1px #2ecc71;
}
.red{
    background-color: #c0392b;
    box-shadow: 0 0 10px 1px #c0392b;
}
